<!DOCTYPE html>
<html>
<head>
  <title>ForeseeabilityForum</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="navbar-fixed">
    <nav class="blue darken-2">
      <div class="nav-wrapper">
        <div class="container">
          <%= link_to "Forum", root_path, class: "brand-logo" %>
          <ul class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
