<!DOCTYPE html>
<html>
<head>
  <title>ForeseeabilityForum</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="navbar-fixed">
    <nav class="blue darken-2">
      <div class="nav-wrapper">
        <div class="container">
          <%= link_to "Forum", root_path, class: "brand-logo" %>
          <ul class="right hide-on-med-and-down">
            <% if user_logged_in? %>
              <li><%= link_to "#{current_user.name}: Click to sign-out.", sign_out_path %></li>
            <% else %>
              <li><a href="/auth/twitter/">Sign in with Twitter</a></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
